{{ 'fs.inotify.max_queued_events = ' + inotify_max_queued_events | string if inotify_max_queued_events != None }}
{{ 'fs.inotify.max_user_instances = ' + inotify_max_user_instances | string if inotify_max_user_instances != None }}
{{ 'fs.inotify.max_user_watches = ' + inotify_max_user_watches | string if inotify_max_user_watches != None }}
{{ 'net.core.somaxconn = ' + net_core_somaxconn | string if net_core_somaxconn != None }}
{{ 'vm.max_map_count = ' + max_map_count | string if max_map_count != None}}
{{ 'vm.swappiness = ' + swappiness | string if swappiness != None }}
