fs.inotify.max_queued_events = {{ inotify_max_queued_events }}
fs.inotify.max_user_instances = {{ inotify_max_user_instances }}
fs.inotify.max_user_watches = {{ inotify_max_user_watches }}
net.core.somaxconn = {{ net_core_somaxconn }}
vm.max_map_count={{ max_map_count }}
vm.swappiness={{ swappiness }}
