#!/bin/sh
if [ "$PAM_TYPE" != "open_session" ]
then
  exit 0
else
  {
    echo "User: $PAM_USER"
    echo "Remote Host: $PAM_RHOST"
    echo "Service: $PAM_SERVICE"
    echo "TTY: $PAM_TTY"
    echo "Date: $(date)"
    echo "Host: $(hostname -f)"
    echo "Server: $(uname -a)"
  } | mail -s "$PAM_SERVICE login on $(hostname -f) for account $PAM_USER" \
  {{ '-r ' + inventory_hostname + '@' + sender_email_domain if sender_email_domain is defined }} \
  {{ ssh_login_notification_mail }}
fi
exit 0
